@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter variable font */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+02BB-02BC, U+02DA, U+02DC, U+2212,
    U+2215;
}

/* Nunito Sans font */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url(/fonts/nunito-sans-v6-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''), url(/fonts/nunito-sans-v6-latin-800.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''), url(/fonts/nunito-sans-v6-latin-900.woff2) format('woff2');
}

/* Theme */
:root {
  --primary: #086DFF;
  --secondary: #EDF2F7;
  --text-primary: #343A40;
  --text-secondary: #727272;
  --base-100: #FFFFFF;
  --base-200: #eaebed;
}

:root.dark {
  --primary: #72CAF3;
  --secondary: #151F28;
  --text-primary: #FFFFFF;
  --text-secondary: #888888;
  --base-100: #111111;
  --base-200: #333333;
}

html,
body,
#__next {
  min-height: 100vh;
}

body {
  @apply bg-base-100 text-text-primary font-main;
}

::selection {
  @apply bg-primary;
  color: #fefefe;
}

/* Prose headings */
.prose h2, .prose h3 {
  @apply font-main;
}

/* Don't apply styles to next/image in articles */
.prose img {
  @apply m-0;
}

/* Inline Code */
.prose :not(pre) > code {
  @apply bg-gray-100 dark:bg-secondary py-1 px-1 rounded-md text-pink-600 dark:text-pink-300;
}

/** -----  Codeblocks -----  **/
pre[class*='language-'] {
  @apply bg-[#151F28] px-6 py-6 rounded-xl overflow-x-auto relative;
}

.code-line {
  @apply block px-6 -mx-6 border-l-4 border-transparent; /* Set placeholder for highlight accent border color to transparent */
}

/* Code titles */
.rehype-code-title {
  @apply bg-[#151F28] text-gray-200 px-6 py-3 font-mono text-sm font-bold border-b border-gray-400 rounded-t-xl;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

/* Inserted lines */
.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

/* Deleted lines */
.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

/* Highlighted lines */
.highlight-line {
  @apply block px-6 -mx-6  border-l-4 border-blue-500;
  background-color: rgba(55, 65, 81, 0.5);
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  content: attr(line);
}

/** -----  Syntax Highlighting -----  **/
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #82b0df;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #89b0d6;
}

.token.number {
  color: #ce77bc;
}

.token.boolean {
  color: #89b0d6;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a2db71;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #89b0d6;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #7ed3eb;
}

.token.class-name {
  color: #db85c9;
}

.token.keyword {
  color: #89b0d6;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
